<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .form-container {
            background-color: #fff;
            border: 1px solid #ddd;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        form {
            display: flex;
            flex-direction: column;
        }

        label {
            margin-bottom: 8px;
        }

        input {
            padding: 8px;
            margin-bottom: 16px;
        }

        input[type="submit"] {
            background-color: #4caf50;
            color: #fff;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #45a049;
        }
    </style>
    <title>Edit User</title>
</head>

<body>
    <div class="form-container">
        <form id="editUserForm" action="/putUser" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" value="<%=User.username%>">

            <label for="password">Password:</label>
            <input type="text" id="password" name="password" value="<%=User.password%>">


            <input type="text" name="id" value="<%=User.id%>" hidden>
            <input type="submit" value="Save Changes">
        </form>
    </div>
</body>

</html>